<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Authenticate to Jira Below</h1>
    <p>Clicking this button will open the user consent screen to Jira</p>
    <button id="authenticate">Authenticate</button>
    <p><%= message %></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="app.js" type="text/javascript"></script>
</body>
</html>